<div class="layout-row">
  <section class="layout-column align-items-center justify-content-center">
    <input
      type="text"
      data-test-id="app-input-name"
      required
      placeholder="Name"
      [value]="formData.name"
      (input)="updateFormData($event, 'name')"
    />
    <input
      type="text"
      data-test-id="app-input-genre"
      required
      placeholder="Genre"
      [value]="formData.genre"
      (input)="updateFormData($event, 'genre')"
    />
    <input
      type="text"
      data-test-id="app-input-creator"
      required
      placeholder="Creator"
      [value]="formData.creator"
      (input)="updateFormData($event, 'creator')"
    />
    <form>
      <label
        ><input
          class="radioButton"
          data-test-id="app-input-book-type"
          type="radio"
          name="type"
          value="Book"
          [checked]="formData.type === 'Book'"
          (input)="updateFormData($event, 'type')"
        />Book</label
      >
      <label
        ><input
          class="radioButton"
          data-test-id="app-input-song-type"
          type="radio"
          name="type"
          value="Song"
          [checked]="formData.type === 'Song'"
          (input)="updateFormData($event, 'type')"
        />Song</label
      >
    </form>
    <input
      *ngIf="formData.type === 'Song'"
      data-test-id="app-input-time"
      type="number"
      placeholder="Total Time"
      (input)="updateFormData($event, 'totalTime')"
    />
  </section>
  <section class="layout-row justify-content-center align-items-center">
    <button data-test-id="add-button" class="w-30" (click)="itemAddClick()">
      Add
    </button>
  </section>
</div>
